
    <link rel="stylesheet" href="../styles/style.css" />
    <header>
      <h1 class="logo">ZENIT </h1>
    </header>
    
    <nav class="nav">
      <ul class="aside-menu">
        <li>
          <a href="../comṕonents/add_camper.html" class="aside-btn" id="add">
            <i class="bi bi-person"></i>Add camper
          </a>
        </li>
        <hr>
        <li>
          <button class="aside-btn" id="items">
            <i class="bi bi-person"></i>All Campers
          </button>
        </li>
        <li>
          <a class="aside-btn" id="cart-btn" href="../cart.html"
            ><i class="bi bi-database-fill-check"></i>Database
          </a>
        </li>
        <hr>

        <li>
          <button class="aside-btn" id="Apolo">
            <i class="bi bi-people"></i>Apolo
          </button>
        </li>
        <li>
          <button class="aside-btn" id="Artemis">
            <i class="bi bi-people"></i>Artemis
          </button>
        </li>
        <li>
          <button class="aside-btn" id="Sputnik">
            <i class="bi bi-people"></i>Sputnik
          </button>
        </li>
        <li>
          <button class="aside-btn" id="under">
            <i class="bi bi-caret-down"></i>Under Age
          </button>
        </li>
      </ul>
    </nav>
    
    <footer>
      <img src="" alt="" />
      <p class="footer-text">
        &copy2023 Angel Velasco <br />
        All rights reserved
      </p>
    </footer>
    

   </body>
   