<link rel="stylesheet" href="../styles/style.css">

<header>
    <h1 class="logo">ZENIT</h1>
</header>
<nav class="nav">
    <ul class="aside-menu">
        <li>
            <a class="aside-btn" id="category-btn active" href="../index.html"><i class="bi bi-back"></i>Go Back</a>
        </li>
        <li>
            <a class="aside-btn" id="cart-btn" href="../database.html"><i class="bi bi-database-fill"></i>Database
            </a>
        </li>
    </ul>
</nav>

<footer>
    <img src="" alt="">
    <p class="footer-text">
        &copy2023 Angel Velasco<br> All Rights reserved
    </p>
</footer>